langchain
ipykernel
python-dotenv
beautifulsoup4
langchain-community
faiss-cpu
streamlit
transformers
pypdf
uvicorn
fastapi
langserve
langchain-chroma
langchain_groq
sentence_transformer
#6 
SQLAlchemy
mysql-connector-python
validators==0.28.1
youtube_transcript_api
pytube
unstructured